#main {
  margin: 0 auto;
  max-width: 75%;
  padding: 40px 30px;
}

:root {
  --primary: #8c54ff;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

#about {
  display: flex;
  flex-wrap: wrap;
}

#background {
  background-color: #ca7df9;
  padding: 0px 0px 40px 20px;
}

#About_Me {
  max-height: 300px;
  margin: 10px;
  border: 0px 2px solid var(--dark);
  border-radius: 10px;
}

#bio {
  width: 60%;
  margin: 10px 50px 10px 20px;
  color: rgba(228, 193, 249, 1);
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

#gallery imgsrc {
  height: 100px;
  object-fit: fill;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: "nabla", cursive;
}

h2 {
  font-family: "Aouar", cursive;
  font-size: 80px;
  color: black;
  margin: auto;
}

#Portfolio {
  font-family: "Glitten", cursive;
  text-align: center;
  color: black;
  font-size: 100px;
}

h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  color: var(--dark);
}

h1 {
  font-size: 2.25rem;
}

/* h2 {
  font-size: 2rem;
  font-weight: 500;
} */

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#header {
  background: var(--light);
}

#header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

contact-form {
  width: 40%;
}

label {
  color: var(--dark);
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  color: var(--dark);
  list-style: none;
}

#nav {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

#nav button {
  color: var(--dark);
}

#nav a:hover {
  text-decoration: none;
}

#nav li {
  cursor: pointer;
  margin: 5px;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.card {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 350px;
  background-size: cover;
  margin: 10px;
  border-radius: 7px;
}

.card a {
  background-color: #b8ef06;
  color: white;
  margin: 100px;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
}

.card a svg {
  background-color: rgba(228, 193, 249, 1);
  color: rgba(228, 193, 249);
  border-radius: 10px;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
  color: var(--dark);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  border-left: solid 3px #b8ef06;
  border-bottom: solid 3px #b8ef06;
}

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.navActive {
  color: var(--dark);
}

#footer {
  position: absolute;
  left: 0;
  bottom: 100;
  width: 100%;
  height: 15%;
  text-align: center;
}
